/* Border Box Code */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: rgba(197, 197, 91, 0.664);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 12px;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    color: rgb(121, 29, 29);
}

p {
    color: rgb(159, 49, 49);
    font-size: 18px;
}


li {
    color: rgb(92, 84, 90);
}

.footer{
    text-align: center;
    font-size: 14px;
}

.recipe-links {
    padding-left: 30px;
}

.recipe-links li {
    list-style-type: none;
    margin-bottom: 10px;
}

.recipe-links li a{
    background-color: rgb(159, 49, 49);
    display: block;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: rgba(197, 197, 91, 0.664);
}